.flex-container-privacy {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-left: 6rem;
  justify-content: center;
  height: 500px;
}

.center {
  max-width: 500px;
  margin: 0 auto;
}
